body
{
	font-family:Arial,Helvetica,sans-serif;
	color:#000000;
 	background:#f5faff;
}

a:link { color:#000066; }
a:visited { color:#444444; }
a:active { color:#880000; }
a:hover { color:#880000; }


div
{
	background:#FEF1DB;
	border-width:1px 2px 2px 1px;
	/* border-width:0.08em 0.24em 0.24em 0.08em; */ /* the right thing but poorly supported by some web browsers (e.g. inconsistent rounding errors in Firefox 2) */
	border-style:solid;
	padding:1.0em;
	border-color:#00598E;
}

blockquote
{
	background:#f8f8ff;
	border-width:3px;
	/* border-width:0.24em; */ /* the right thing but poorly supported by some web browsers (e.g. inconsistent rounding errors in Firefox 2) */
	border-style:dotted;
	padding:1.0em;
	font-weight:bold;
	color:#000044;
}

hr
{
	border-style:solid;
}

h1, hr { color:#880000; }
h2
{
	color:#000066;
	padding-top:0.4em;
}
h3
{
	font-style:normal;
	padding-top:0.4em;
}


p.backtotop, p.skiptocontent
{
	font-size:0.7em;
	font-weight:bold;
	text-align:right;
}

div.toc ol li { text-transform:uppercase; font-weight:bold; font-size:124%; list-style:none; }
div.toc ol li a { display:block; display:inline-block; padding:0 0 0.5em 0; margin-top:0; margin-bottom:0; }
div.toc ol li ol li { text-transform:none; font-weight:normal; font-size:90%; }
div.toc ol li ol li ol li { font-style:normal; }
div.toc { background:#fafafa; }

/*
div.eng em
{
	font-style:normal;
}
*/

table
{
	background:#FEF8EE;
	border-collapse:collapse;
}

tr, td, th
{
	border:1px solid #000000;
	padding:0.4em;
	/*margin:0.2em;*/
}

/* td { text-align:right; } */
