html{ 
  font-family: Verdana, Arial, Helvetica, sans-serif;
	margin:0;
	Padding:0;
	border:0;
	color:#000000;
  background:#ffffff;
	font-size:70%;
	max-width:50em;
}
h1{ color:#0C487E; }
img{ border:0; }

a{ 
	text-decoration:none;
	font-weight:bold;
}
body{
	margin:0 auto;
	padding:1em;
	width:50em;
}
ul#ErrorMessage{

}
ul#ErrorMessage li{
	color:red;
}

form{
	margin:0;
	padding:0;
}
form fieldset{
	margin:0;
	padding:8px;
	background:#D1DDEF;
}
form fieldset legend{
	font-weight:bold;
	font-size:1.4em;
	background:transparent;
}
form fieldset fieldset legend{ font-size:1em; background:#D1DDEF; }
form ol{
	list-style:none;
	margin:0;
	padding:0;
}
form ol li{
	margin:0;
	padding:0 0 1em 0;
}
form ol li.checkbox { clear:both; }
form ol li.checkbox input{ float:left; }
form ol li.checkbox label{ 
	display:block; 
	float:left;
	padding:3px 0 1em 1em;
	width:40em;
}
form ol li.buttons input{
	margin:0.25em;
	float:right;
}
form ol li.textbox input{ width:100%; }
form ol li.textarea textarea{ width:100%; }