html{ font-size:12pt; }
body {
	background: #F7F7F7;
	font-family:verdana, arial, sans-serif;
	/*padding-top:1em;*/
}
img {
	border: none;
}

h1 {
	color: #004785;
	font-size: 1.8em;
	border-bottom:1px solid #acc4d4;
	margin-bottom:0;
	padding-bottom:0.25em;
	font-weight:bold;
	margin-top:0;
	padding-top:0;
}

h2 {
	color: #676767;
	font-size: 1.4em;
	margin-top:0;
	padding-top:0;
	font-weight:bold;
}

h3 {
	font-size: 1.05em;
	color: #000000;
	font-weight:bold;
}

p {
	line-height: 1.5em;
}

a {
	/*color:#6e99d4 !important;*/
  color:#2c669a;
	text-decoration:none;
	outline:none;
	}
	
a:hover {
	color:#0f5694;
	text-decoration:underline;
	}
	
/*a {
	color: #676767;
	text-decoration: underline;
}*/
ul li{
	padding:0;
}

a:hover {
	color: #B7295A;
}

a:visited {
	color: #6666FF;
}
div.imageholder{
	margin-bottom:1em;
}
div.imageholder div.captionedimage{
	text-align:center;
	width:auto;
	float:left;
	margin:0 1em;
}


.home_forecasting, .home_newsupply, .home_trends, .home_comparison, .home_bestofboth, .home_portfolio
{
	border: 1px solid #000000;
	text-align: center;
}

.home_bestofboth
{
	float: left;
	width: 20em;
	height: 19em;
}

.home_bestofboth p, .home_bestofboth h3
{
	margin: 0em;
}

.home_portfolio
{
	float: right;
	width: 35em;
	height: 17em;
	padding: 1em;
}

.home_portfolio_left
{
	float: left;
	width: 60%;
}

.home_portfolio_right
{
	float: right;
	width: 40%;
}

.home_newsupply
{
	float: right;
	width: 20em;
	height: 19em;
	background-color: #ffffff;
	padding: 1em 0.5em 0em 0.5em;
}

.home_forecasting
{
	float: left;
	width: 36em;
	height: 18em;
	background-color: #ffffff;
	padding: 1em 0 1em 0;
}

.home_forecasting_left
{
	float: left;
	width: 60%;
}

.home_forecasting_right
{
	float: right;
	width: 40%;
}

.home_trends
{
	float: right;
	width: 14em;
	background-color: #ffffff;
	padding: 1em 0.5em 1em 0.5em;
	margin-top: 1em;
	margin-bottom: 1em;
	height: 21.5em;
}

.home_comparison
{
	float: left;
	width: 40.25em;
	height: 21.5em;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 1em 1em 1em 1em;
}

.home_comparison table
{
	background-color: #000000;
	border-spacing: 1px;
	margin-bottom: 0.5em;
}

.home_comparison td, .home_comparison th
{
	background-color: #eeffee;
	font-size: 0.8em;
	padding: 0.5em;
}

.home_comparison th
{
	text-align: center;
}

.home_bestofboth h3
{
	background-color: #21557D;
	color: #ffffff;
	font-weight: bold;
	padding: 1em;
}

.home_bestofboth p, .home_forecasting p, .home_portfolio p
{
	font-size: 0.9em;
	padding: 1em;
	margin: 0em;
}

.home_newsupply h3, .home_forecasting h3, .home_trends h3, .home_comparison h3, .home_portfolio h3
{
	color: #21557D;
}

.home_trends p
{
	font-size: 0.8em;
	margin-bottom: 0.5em;
}

.access { display:none; }
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}